<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Aula 01</title>

    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/assets/dist/css/bootstrap.min.css">
</head>
<body class="bg-dark dark">
    <div class="container" id="containe">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a href="#" class="navbar-brand">Dev-cute</a>
               
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-links" aria-controls="#navbar-links" aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>                
                 
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="#" class="nav-link">home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">contacto</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">sobre</a></li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div id="slidTitulo">
        <h2>
            Dev-Cute
            <div class="mask">
                <strong data-show>A Solução para o teu negócio. </strong>
                <strong>Dá um nivel a Mais no que você faz!</strong>
                <strong>O Futuro chegou mais cedo!</strong>
                <strong>Só acerta quem tenta!</strong>
            </div>
        </h2>
    </div>

    <div class="conteudo">
        <h1>dev-cute</h1>
        <p class="texto">
            Somos uma boa escolha para os <b>Angolanos</b> quando o assunto é construção
            de aplicações e páginas web. Clica
            <a href="./sobre.html">aqui, Para saber mais</a>
        </p>
        <figure>
            <img src="" alt="">
            <figcaption>
                <h3></h3>
                <p></p>
            </figcaption>
        </figure>
    </div>
    
    <!--codigo da divisão  de rows-->
   
    <div id="tabControll">
        
        <div class="col-12 row">
            <main>
                <nav>
                    <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                            Páginas Web
                        </button>

                        <button class="nav-link" id="nav-tab1-tab" data-bs-toggle="tab" data-bs-target="#nav-tab1"
                        type="button" role="tab" aria-controls="nav-tab1" aria-selected="false">
                            App Web
                        </button>
    
                        <button class = 'nav-link' id='nav-tab2-tab' data-bs-toggle='tab' data-bs-target='#nav-tab2' type='button' role='tab'
                        aria-controls='nav-tab2' aria-selected='false'>
                            app Local
                        </button>
                    </div>
                </nav>
            </main>
        </div>
        
        <!--codigo da publicadades gerais e pedidas-->
        <div class="tab-content" id="nav-tabContent">
            <!--primeira parte-->
            
            <div class="tab-pane show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                
                <div class="row col-12">
                    <div class="">
                        <div class="col-md-4 card bg-dark">
                            <img src="../public/img/img/SGN_04_28_2022_1651103863135.png" alt="" class="card-img-top img-fluid">
                            
                            <div class="card-body">
                                <h4 class="card-title">TITULO DO CARD</h4>
                                
                                <h6 class="card-subtitle mb-2 text-muted">Card-subtitulo</h6>
                                
                                <div class="card-action">
                                    <a href="./index.html" class="card-link btn btn-primary">Saber Mais</a>
                                </div>
                            </div>
                            
                            <div class="card-footer text-muted">
                                subtitulo do card
                                <br>
                                Entra em contacto conosco. &nbsp; &copy; 2022
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Parte do painel de pesquisas-->
            
            <div class="tab-pane fade" id ="nav-tab1" role="tabpanel" aria-labelledby ="nav-tab1-tab">
                
                <div class="row col-12">
                    <div class="">
                        <div class="card bg-dark col-md-4">
                            <img src="../public/img/img/SGN_04_28_2022_1651103863135.png" class="card-img-top img-fluid" alt="foto do card">
                            <div class="card-body">
                                <h5 class="card-title"> Titulo do card</h5>
                                <p class="card-date"> Escola: Comparticipada</p>
                                <a href="./sobre.html" class="btn btn-primary">Saber mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id ="nav-tab2" role="tabpanel" aria-labelledby ="nav-tab2-tab">
                
                <div class="row col-12">
                    <div class="">
                        <div class="card bg-dark col-md-4">
                            <div class="card-body">
                                <h5 class="card-title"> Titulo do card</h5>
                                <p class="card-date"> Escola: Comparticipada</p>
                                <a href="./sobre.html" class="btn btn-primary">Saber mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="../public/js/index.js"></script>
    <script src="../public/assets/dist/js/bootstrap.min.js"></script>
</body>
</html>