<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Service</title>
    
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/service.css">

    <!--link para O javaScript bootstrap da pagina-->
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <%- include('../layout/navbar') %>

  <div class="row col-12 col-md-11 offset-md-1" id="principal">
    <% if(servico){ %>
      <div class="card col-md-6 m-2">
          <% if(servico.name == 'Visto de Turismo'){ %>
            <img class="card-img-top" src="/img/Slid/image_downloader_1661001390616.jpg" alt="Turismo">
          <% } else if(servico.name == 'Visto de Estudo') { %>    
            <img class="card-img-top" src="/img/Slid/consuloriaCard.jpg" alt="Estudo">
          <% } else if(servico.name == 'Visto de Saúde'){ %>
            <img class="card-img-top" src="/img/Slid/image_downloader_1661001512312.jpg" alt="Saúde">
          <% } %>
          
          <div class="card-body">
            <h3 class="card-title"> <%=servico.name %> </h3>
            <p class="card-subtitle mb-2">Estada inferior a 90 dia</p>
          
            <h5 class="card-header">Cuidamos de:</h5>
            <ul>
              <li>Agendamento</li>
              <li>Comprovativo de Alojamento</li>
              <li>Reserva de Vôo</li>
              <li>Formulário</li>
              
              <% if(servico.name == 'Visto de Estudo'){ %>
                <li> Inscrição em uma Escola </li>
              <% } else if(servico.name == 'Visto de Saúde'){ %>
                <li> Marcação de Consulta </li>
              <% } %>

              <li>Declarações e todos os termos necessário, incluindo a melhor consultória para o teu bolso</li>
            </ul>

            <p class="reservar">Cuidamos de Tudo por apenas <strong class="text-success"> <%=servico.preco %> </strong> </p>
            <a onclick="reservar()" class="btn btn-success reservar">Reservar</a>
          </div>
    </div>
    <% } %>
    <div class="card col-md-5 m-2" id="card-form">

      <div class="card-header">
        <h5>Precisamos de:</h5>
      </div>

      <span id="aviso"> * (Obrigatório) </span>
      
      <p class="alert alert-info" role="alert">Preencha o formulário para enviar a inscrição</p>
      
      <div class="card-body">
        <form action="#" method="post">
          <div class="row">
            
            <div class="col-6 form-group">
              <label for="name">Nome:</label>
              <input type="text" name="name" id="name" placeholder="nome proprio" class="form-control"><span class="obrigatorio">*</span>
            </div>
            
            <div class="col-6 form-group">
              <label for="apelido">Apelido:</label>
              <input type="text" name="apelido" id="apelido" placeholder="Apelido" class="form-control"> <span class="obrigatorio">*</span>
            </div>

            <label for="name">Contacto:</label>
            
            <div class="col-md-6 form-group">
              <input type="text" name="telefone" id="telefone" placeholder="telefone: +244 999 999 999" class="form-control"><span class="obrigatorio">*</span>
            </div>

            <div class="form-group col-md-6">
              <input type="text" name="email" id="email" placeholder="Email: exemplo@gmail.com" class="form-control"><span class="obrigatorio">*</span>
            </div>

            <div class="col-md-6 form-group">
              <label for="bi">BI:</label>
              <input type="file" name="bi" id="bi" class="form-control"> <span class="obrigatorio">*</span>
            </div>
            
            <div class="col-md-6 form-group">
              <label for="passaport">Passaport:</label>
              <input type="file" name="passaport" id="passaport" class="form-control"> <span class="obrigatorio">*</span>
            </div> 
            
            <div class="col-md-6 form-group">
              <label for="ultimoVisto">Foto do último Visto, caso tenha!:</label>
              <input type="file" name="ultimoVisto" id="ultimoVisto" class="form-control">
            </div> 

            <input type="submit" value="Enviar" class="my-4 btn btn-primary">
            
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function reservar(){
      const form = $('#card-form').css({
        transition: 'all 2s',
        opacity: '1',
      })

      const b = $('.reservar').css({
        display: 'none'
      })
    }
  </script>
      <script src="/assets/dist/js/bootstrap.min.js"></script>
      <script src="/assets/dist/jquery/dist/jquery.min.js"></script>
</body>
</html>