<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div id="box-shadow-generator">
        <div id="controls-container">
            <%-include('../../components/tools/boxShadowControls')%>         
            <%-include('../../components/tools/border')%>         
        </div>

        <div id="preview">
            <h2>Preview do efeito gerado:</h2>
            <div id="box"></div>
        </div>
    </div>

    <div id="generatad-rules">
        <h2>Copie e cole no seu arquivo de CSS:</h2>
        <div id="rules-area">
            <p id="rule"><span></span>;</p>
            <p id="webkit-rule">webkit-<span></span>;</p>
            <p id="moz-rule">moz-<span></span>;</p>
        </div>
    </div>
</body>
</html>