<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="./assets/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/register.css">

    <!--link para O javaScript bootstrap da pagina-->
    <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
  <%- include('../layout/navbar') %>

    <div class="" id="formCreate">
        <h1>Criar Serviço</h1>

        <form action="/" class="col-8" method="post">
            <div class="form-group opsao">
                <label for="nome">Nome</label>
                <select name="nome" id="nome" class="form-control">
                    <option value="Visto de Turismo">Visto de Turismo (Estada inferior a 90 dia) </option>
                    <option value="Visto de Saúde">Visto de Saúde (Estada inferior a 90 dia) </option>
                    <option value="Visto de Visita Familiar">Visto de Visita Familiar (Estada inferior a 90 dia) </option>
                    <option value="Visto de Ajuda Humanitária">Visto de Ajuda Humanitária (Estada inferior a 90 dia) </option>
                    <option value="Visto de Trabalho">Visto de Trabalho (Estada inferior a 90 dia) </option>
                    <option value="Visto de Formação Profissional">Visto de Formação Profissional (Estada inferior a 90 dia) </option>
                    <option value="Visto de Formação">Visto de Formação</option>
                </select>
            </div>

            <div class="form-group opsao">
                <label for="preco">Preço: </label>
                <input type="text" name="preco" id="preco" class="form-control" placeholder="Preço do Serviço">
            </div>
    
                <div id="botao" class="form-group opsao">
                    <input type="submit" value="Cadastrar" class="btn btn-primary large m-4" >
                    <a href="/">Início</a>
                </div>
            </form>
        
    </div>



    <script src="./assets/dist/js/bootstrap.min.js"></script>
    <script src="./assets/dist/jquery/dist/jquery.min.js"></script>

</body>
</html>