<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Box-shadow</title>

    <link rel="stylesheet" href="./css/boxShadowG.css">
    <script src="./js/boxShadowGenerator.js" defer></script>
</head>
<body>
    <div id="box-shadow-generator">
        <div id="controls-container">
            <h2>Configuração do Box-Shadow:</h2>
            <div class="form-control">
                <div class="rang-input">
                    <label for="horizontal">Deslocamento horizontal:</label>
                    <input
                        type="range" 
                        name="horizontal" 
                        id="horizontal" 
                        min="-1000" 
                        max="1000"
                        value="5"
                    >
                </div>

                <div id="reference-input">
                    <input type="text" name="horizontal-value" id="horizontal-value">
                    <p>px</p>
                </div>
            </div>

            <div class="form-control">
                <div class="rang-input">
                    <label for="vertical">Deslocamento vertical:</label>
                    <input 
                        type="range" 
                        name="vertical" 
                        id="vertical" 
                        min="-1000" 
                        max="1000" 
                        value="5"
                    >
                </div>

                <div id="reference-input">
                    <input type="text" name="vertical-value" id="vertical-value">
                    <p>px</p>
                </div>
            </div>

            <div class="form-control">
                <div class="rang-input">
                    <label for="blur">Intensidade do borrão (Blur):</label>
                    <input 
                        type="range" 
                        name="blur" 
                        id="blur" 
                        min="0"
                        max="200" 
                        value="10"
                    >
                </div>

                <div id="reference-input">
                    <input type="text" name="blur-value" id="blur-value">
                    <p>px</p>
                </div>
            </div>

            <div class="form-control">
                <div class="rang-input">
                    <label for="spread">Intensidade do espalhamento (spread):</label>
                    <input 
                    type="range" 
                    name="spread" 
                    id="spread" 
                    min="-100" 
                    max="150" 
                    value="3"
                    >
                </div>

                <div id="reference-input">
                    <input type="text" name="spread-value" id="spread-value">
                    <p>px</p>
                </div>
            </div>

            
            <div class="form-control">
                <div class="rang-input">
                    <label for="color">Cor da sombra:</label>
                    <input 
                    type="color" 
                    name="color" 
                    id="color"
                    >
                </div>

                <div id="reference-input">
                    <input type="text" name="color-value" id="color-value" style="width: 80px;">
                    <p>px</p>
                </div>
            </div>
            
            <div class="form-control">
                <div class="rang-input">
                    <label for="alpha">Opacidade:</label>
                    <input 
                    type="range" 
                    name="alpha" 
                    id="alpha"
                    min="0"
                    max="1"
                    value="1"
                    >
                </div>

                <div id="reference-input">
                    <input type="text" name="alpha-value" id="alpha-value">
                    <p>px</p>
                </div>
            </div>

            
            <div class="form-control">
                <div class="rang-input">
                    <label for="inset">sombra Interna:</label>
                    <input type="checkbox" name="inset" id="inset" style="width: 50px;">
                </div>
            </div>
            
            
        </div>

        <div id="preview">
            <h2>Preview do efeito gerado:</h2>
            <div id="box"></div>
        </div>
    </div>

    <div id="generatad-rules">
        <h2>Copie e cole no seu arquivo de CSS:</h2>
        <div id="rules-area">
            <p id="rule">box-shadow: <span></span>;</p>
            <p id="webkit-rule">webkit-box-shadow: <span></span>;</p>
            <p id="moz-rule">moz-box-shadow: <span></span>;</p>
        </div>
    </div>
</body>
</html>